<!DOCTYPE html>
<html>
<head>
    <title>D3 Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css">

    <script type="text/javascript" src="javascripts/d3/d3.js"></script>

</head>
<body style="overflow:auto;">
<!--<div id="dataTest" style="visibility: hidden">-->
<div id="dataTest" style="display: none">
    <% app.forEach(function (app) { %>
    <li ><%= app.app_num%> <%=app.count%></li>
    <% })%>

    <%var i%>
    <% for(i=0; i < app.length; i++){ %>
    <li id="li<%=i%>"><%= app[i].app_num %></li>
    <% }%>
</div>

<div id="div1">
    <h2>Let jQuery AJAX Change This Text</h2>
</div>

<div id="div2">

</div>
<button>Get External Content</button>

<script type="text/javascript">
    var w = 500;
    var h = 500;
    var dataset = [5, 2, 3, 10, 20, , 6, 8,1,1,1,1,1,1,1,1, 42, 22, 31, 10, 13, 12, 10, 1, 10, 10, 3, 15, 20, 34, 10, 3, 5, 10, 20, 30];
    var txt = "text";
    var svg = d3.select("body").append("svg").attr("width", w).attr("height", h);
    var rects = svg.selectAll("rect").data(dataset).enter().append("rect").attr("fill", "teal");
    var label = svg.append("text");

    console.log($('#dataTest').text());
    console.log($('#dataTest').text()*1);

    rects.attr("x", function (d, i) {
                return i * (w / dataset.length);
            })
            .attr("y", function (d) {
                return h - d * 10;
            })
            .attr("width", w / dataset.length - 5)
            .attr("height", function (d) {
                return d * 10;
            })
            .attr("class", "a");

    $('.a').mouseover(function () {
        $(this).css("fill", "hotpink");
        label.attr("x", $(this).attr("x")).attr("y",  $(this).attr("y")).text("test");
    }).mouseout(function () {
        $(this).css("fill", "");
    });

    /**
     *
     */
    $(document).ready(function() {
        $("button").click(function() {
            $.get("/ajax", function(data, status) {
                $.each(data, function(i, field){
                    $("#div2").append("<h2>" + field.user_id + " " + i + "</h2>");
                    $("#div2").append("<h2>" + field.name + " " + i + "</h2>");
                });
            });
        });
    });
</script>

</body>
</html>