<html>
<head>
    <title><%= title %></title>
</head>
<body>
<form name="user" method="post" action="/getpost/user">
    <b>Add Users</b><p>
        id <input type="text" name="user_id"/>
        <br>
        name <input type="text" name="name"/>
        <br>
        password <input type="password" name="password"/>
        <br>
        email <input type="text" name="email"/>
        <br>
        <button type="submit" >Submit</button>
</form>

<form name="app" method="post" action="/getpost/app">
    <b>Add App</b><p>
        app_num <input type="text" name="app_num"/>
        <br>
        app_name <input type="text" name="app_name"/>
        <br>
        total_time <input type="text" name="total_time"/>
        <br>
        user_id <input type="text" name="user_id"/>
        <br>
        <button type="submit" >Submit</button>
</form>

<form name="activity" method="post" action="/getpost/app/activity">
    <b>Add Activity</b><p>
        activity_num <input type="text" name="activity_num"/>
        <br>
        activity_name <input type="text" name="activity_name"/>
        <br>
        total_time <input type="text" name="total_time"/>
        <br>
        app_num <input type="text" name="app_num"/>
        <br>
        <button type="submit" >Submit</button>
</form>

<form name="object" method="post" action="/getpost/app/activity/object">
    <b>Add Object</b><p>
        object_num <input type="text" name="object_num"/>
        <br>
        object_name <input type="text" name="object_name"/>
        <br>
        object_frequency <input type="text" name="object_frequency"/>
        <br>
        error_frequency <input type="text" name="error_frequency"/>
        <br>
        image_num <input type="text" name="image_num"/>
        <br>
        activity_num <input type="text" name="activity_num"/>
        <br>
        <button type="submit" >Submit</button>
</form>
</body>
</html>