<!DOCTYPE html>
<html>
<head>
    <title>Android Storyboard</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css">


    <script type="text/javascript" src="javascripts/d3/d3.js"></script>
    <script src="javascripts/test.js"></script>
    <script src="javascripts/drag.js"></script>

    <script>
        var main = function () {

            $('.fa').mouseover(function () {
                $(this).css("color", "gray");
            }).mouseout(function () {
                $(this).css("color", "");
            });

            $('.fa-bars').click(function () {
                $('.sidebar').animate({
                    left: "0px"
                }, 200);

                $('.content-body').animate({
                    left: "300px"
                }, 200);

                $('.fa-bars').css(
                        "visibility", "hidden"
                );
            });

            $('.fa-times').click(function () {
                $('.sidebar').animate({
                    left: "-300px"
                }, 200);

                $('.content-body').animate({
                    left: "0px"
                }, 200);

                $('.fa-bars').css(
                        "visibility", ""
                );
            });

            $('.main-body').click(function () {
                $('.sidebar').animate({
                    left: "-300px"
                }, 200);

                $('.content-body').animate({
                    left: "0px"
                }, 200);

                $('.fa-bars').css(
                        "visibility", ""
                );
            });

            $('#register-app').click(function () {
                $('.register-app-form').css("display", "");
                $('#register-app').css("display", "none");
            });

            $('#register-app-close').click(function () {
                $('.register-app-form').css("display", "none");
                $('#register-app').css("display", "");
            });

            $('#rect-info-close').click(function(){
                $(this).parent().parent().css("visibility", "hidden");
            });

            $('#rect-info-close').draggable();
        };

        $(document).ready(main);
    </script>

</head>
<body>

<div class="navigation">
    <div class="container">
        <div class="left">
            <a href="/" class="main-logo">AndroidStoryBoard</a>
        </div>

        <div class="right">
            <b id="user_id"><%= user_id %></b>
            <a class="btn btn-info" href="/profile">Profile</a>
            <a class="btn btn-info" href="/logout">Logout</a>
        </div>
    </div>
</div>

<div class="content">
    <div class="sidebar left">
        <div id="menu-close"><i class="fa fa-times"></i></div>

        <div class="container-center">
            <button class="btn btn-danger" id="register-app">Register App</button>
        </div>

        <div class="register-app-form" style="display: none;">
            <form method="post" action="/registerapp" enctype="multipart/form-data">
                <input type="text" class="form-control" name="app_name" placeholder="App Name"/>
                <label for="exampleInputFile">File Upload</label>
                <input type="file" name="storyboard">
                <p class="help-block">Upload StoryBoard File</p>
                <div class="container-center">
                    <button type="submit" class="btn btn-primary" id="register-app-confirm">Confirm</button>
                    <button type="button" class="btn btn-warning" id="register-app-close">Close</button>
                </div>

            </form>
        </div>

        <div class="menu">
            <b style="font-size:30px;">App List</b>
            <ul>
                <% app.forEach(function (app) { %>
                <li><a class="btn btn-success app_name" href="#"><%= app.app_name %></a></li>
                <% }) %>
            </ul>
        </div>
    </div>

    <div class="content-body">

        <div id="menu-button left"><i class="fa fa-bars"></i></div>

        <div class="main-body container-center">
            <div class="graph" id="graph1" style="display: inline-block"></div>
            <div class="graph" id="graph2" style="display: inline-block"></div>
            <div class="graph" id="graphTest"></div>
            <div class="graph" id="graph3"></div>
        </div>
    </div>
</div>
<div style="height : 100px"></div>
<div class="rect-info" style="position: absolute; visibility: hidden; background-color: #68606A; height: auto; position: fixed;  width: 200px;" onmousedown="startDrag(event, this)">
    <div class="rect-info-bar" style="background: #A3A7B7; height:15px; width: auto;">
        <div id="rect-info-close"><i class="fa fa-times right" style="font-size: 15px;"></i></div>
    </div>
    <div style=" color:whitesmoke;">
        <b>object name             : button<br></b>
        <b>object use frequency    : 10<br></b>
        <b>object err frequency    : 1<br></b>
        <b>activity name           : main<br></b>
        <b>activity using time     : 343241<br></b>
    </div>
</div>
<script>
    var data;
    var useGraph = new graph();
    var errGraph = new graph();
    useGraph.setColor('#457D97');
    errGraph.setColor('#EA3556');

    $('.app_name').click(function () {
        var app_name = $(this).text();
        var user_id = $('#user_id').text();
        $('.rect-info').css("visibility", "hidden");
        $.post("/get/object_info", {app_name: app_name, user_id: user_id}
                , function (data) {
                    var objectUseFrequency = new Array();
                    var objectErrFrequency = new Array();
                    var objectName = new Array();
                    for (var i = 0; i < data.length; i++) {
                        objectUseFrequency[i] = data[i].object_frequency;
                        objectErrFrequency[i] = data[i].error_frequency;
                        objectName[i] = data[i].object_name;
                    }
                    console.log(objectName);
                    $('#graph1').empty();//자식 노드들 제거
                    $('#graph2').empty();
                    useGraph.drawGraph("graph1", objectUseFrequency, objectName);
                    errGraph.drawGraph("graph2", objectErrFrequency, objectName);
                });
    });


    //    g.drawGraph("graph2", data);
    //    g.drawGraph("graph3", data);
</script>
</body>
</html>