<!DOCTYPE html>
<html>
<head>
    <title>Android Storyboard</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css">

    <script>
        var main = function () {

            $('.fa').mouseover(function () {
                $(this).css("color", "gray");
            }).mouseout(function () {
                $(this).css("color", "");
            });

            $('.fa-bars').click(function () {
                $('.sidebar').animate({
                    left: "0px"
                }, 200);

                $('.content-body').animate({
                    left: "300px"
                }, 200);

                $('.fa-bars').css(
                        "visibility", "hidden"
                );
            });

            $('.fa-times').click(function () {
                $('.sidebar').animate({
                    left: "-300px"
                }, 200);

                $('.content-body').animate({
                    left: "0px"
                }, 200);

                $('.fa-bars').css(
                        "visibility", ""
                );
            });

            $('.main-body').click(function () {
                $('.sidebar').animate({
                    left: "-300px"
                }, 200);

                $('.content-body').animate({
                    left: "0px"
                }, 200);

                $('.fa-bars').css(
                        "visibility", ""
                );
            });

            $('#register-app').click(function () {
                $('.register-app-form').css("display", "");
                $('#register-app').css("display", "none");
            });

            $('#register-app-close').click(function () {
                $('.register-app-form').css("display", "none");
                $('#register-app').css("display", "");
            });
        };

        $(document).ready(main);
    </script>

</head>
<body>

<div class="navigation">
    <div class="container">
        <div class="left">
            <a href="/" class="main-logo">AndroidStoryBoard</a>
        </div>

        <div class="right">
            <b> <%= user_id %> </b>
            <a class="btn btn-info" href="/profile">Profile</a>
            <a class="btn btn-info" href="/logout">Logout</a>
        </div>
    </div>
</div>

<div class="content">
    <div class="sidebar left">
        <div id="menu-close"><i class="fa fa-times"></i></div>

        <div class="container-center">
            <button class="btn btn-danger" id="register-app">Register App</button>
        </div>

        <div class="register-app-form" style="display: none;">
            <form method="post" action="/registerapp" enctype="multipart/form-data">
                <input type="text" class="form-control" name="app_name" placeholder="App Name"/>
                <label for="exampleInputFile">File Upload</label>
                <input type="file" name="storyboard">
                <p class="help-block">Upload StoryBoard File</p>
                <div class="container-center">
                    <button type="submit" class="btn btn-primary" id="register-app-confirm">Confirm</button>
                    <button type="button" class="btn btn-warning" id="register-app-close">Close</button>
                </div>

            </form>
        </div>

        <div class="menu">
            <b style="font-size:30px;">App List</b>
            <ul>
                <% app.forEach(function (app) { %>
                <li><a class="btn btn-success" href="#"><%= app.app_name %></a></li>
                <% })%>
            </ul>
        </div>
    </div>

    <div class="content-body">

        <div id="menu-button left"><i class="fa fa-bars"></i></div>

        <div class="main-body container-center">
            <div class="graph"></div>
            <div class="graph"></div>
            <div class="graph"></div>
            <div class="graph" id="test1"></div>
        </div>
    </div>
</div>
</body>
</html>