<!DOCTYPE html>
<html>
<head>
    <title>Android Storyboard</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css">


    <script type="text/javascript" src="javascripts/d3/d3.js"></script>
    <script src="javascripts/graph/Graph.js"></script>
    <script src="javascripts/graph/Bar.js"></script>
    <script src="javascripts/graph/Line.js"></script>
    <script src="javascripts/graph/Circle.js"></script>
    <script src="javascripts/drag.js"></script>

    <script>
        var sideMenu = function () {
            $('.fa').mouseover(function () {
                $(this).css("color", "gray");
            }).mouseout(function () {
                $(this).css("color", "");
            });

            $('.fa-bars').click(function () {
                $('.sidebar').animate({
                    left: "0px"
                }, 200);

                $('.content-body').animate({
                    left: "300px"
                }, 200);

                $('.fa-bars').css(
                        "visibility", "hidden"
                );
            });

            $('.content').click(function () {
                $('.sidebar').animate({
                    left: "-300px"
                }, 200);

                $('.content-body').animate({
                    left: "0px"
                }, 200);

                $('.fa-bars').css(
                        "visibility", ""
                );
            });

            $('.main-body').click(function () {
                $('.sidebar').animate({
                    left: "-300px"
                }, 200);

                $('.content-body').animate({
                    left: "0px"
                }, 200);

                $('.fa-bars').css(
                        "visibility", ""
                );
            });
        }
        var registerApp = function () {
            $('#register-app').click(function () {
                $('.register-app-form').css("display", "");
                $('#register-app').css("display", "none");
            });

            $('#register-app-close').click(function () {
                $('.register-app-form').css("display", "none");
                $('#register-app').css("display", "");
            });
        }

        var main = function () {
            sideMenu();
            registerApp();

            $('#rect-info-close').click(function () {
                $(this).parent().parent().css("visibility", "hidden");
            });

            $('.rect-info').css("left", screen.width * 0.3 + "px").css("top", screen.height * 0.3 + "px");
        };

        $(document).ready(main);
    </script>

</head>
<body>
<div class="sidebar">
    <div class="container-fluid" id="menu-close"><i class="fa fa-times"></i></div>
    <div class="container-center">
        <button class="btn btn-danger" id="register-app">Register App</button>
    </div>

    <div class="register-app-form" style="display: none;">
        <form method="post" action="/registerapp" enctype="multipart/form-data">
            <input type="text" class="form-control" name="app_name" placeholder="App Name"/>
            <label for="exampleInputFile">File Upload</label>
            <input type="file" name="storyboard">
            <p class="help-block">Upload StoryBoard File</p>
            <div class="container-center">
                <button type="submit" class="btn btn-primary" id="register-app-confirm">Confirm</button>
                <button type="button" class="btn btn-warning" id="register-app-close">Close</button>
            </div>

        </form>
    </div>

    <div class="menu">
        <b style="font-size:30px;">App List</b>
        <ul>
            <% app.forEach(function (app) { %>
            <li><a class="btn btn-inverse app_name" href="#"><%= app.app_name %></a></li>
            <% }) %>
        </ul>
    </div>
</div>
<div class="navigation">
    <div class="container-fluid">
        <div class="left" id="menu-button" style="display: inline-block; width:20%;"><i class="fa fa-bars"></i></div>
        <div style="display: inline-block;">
            <a href="/" class="main-logo">AndroidStoryBoard</a>
        </div>
        <div class="right" style="display: inline-block;">
            <b id="user_id"><%= user_id %></b>
            <a class="btn btn-info" href="/profile">Profile</a>
            <a class="btn btn-info" href="/logout">Logout</a>
        </div>
    </div>
</div>
<div class="content">
    <div class="content-body">
        <div class="container-center" id="search-div" style="visibility: hidden;">
            <h3 id="current_app_name">&nbsp</h3>
            <a class="form-inline">
                <input type="date" class="form-control" id="start-date"/>
                ~
                <input type="date" class="form-control" id="end-date"/>
                <button id="search-date">search</button>
            </a>
        </div>
        <div class="container-center">

        </div>
        <div class="main-body container-center" id="graphs">
            <div id="storyboard"></div>
            <div class="graph light" id="use-graph" style="display: inline-block"></div>
            <div class="graph light" id="use-line-graph" style="display: inline-block"></div>
            <div class="graph light" id="err-graph" style="display: inline-block"></div>
            <div class="graph light" id="err-line-graph" style="display: inline-block"></div>
        </div>
    </div>
</div>
<!--<div style="height : 100px"></div>-->
<div class="rect-info"
     style="position: absolute; visibility: hidden; left:20px; top:20px; background-color: #68606A; height: auto; position: fixed;  width: 200px;"
     onmousedown="startDragAppinfo(event, this)">
    <div class="rect-info-bar" style="background: #A3A7B7; height:15px; width: auto;">
        <div id="rect-info-close"><i class="fa fa-times right" style="font-size: 15px;"></i></div>
    </div>
    <div style=" color:white">
        <b>object name : </b><b class="rect-value" id="rect-object-name"></b>
        <hr class="magin0">
        <b>object use frequency : </b><b class="rect-value" id="rect-use-frequency"></b>
        <hr class="magin0">
        <b>object err frequency : </b><b class="rect-value" id="rect-err-frequency"></b>
        <hr class="magin0">
        <b>activity name : </b><b class="rect-value" id="rect-activity-name"></b>
        <hr class="magin0">
        <b>activity using time : </b><b class="rect-value" id="rect-activity-time"></b>
        <hr class="magin0">
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/d3/d3.js"></script>
<script src="javascripts/storyboard/Storyboard.js"></script>
<script>
    var useGraph = new Graph();
    var errGraph = new Graph();
    var useLineGraph = new Graph();
    var useCircleGraph = new Graph();
    var errLineGraph = new Graph();

    var useBar = new Bar('use');
    var errBar = new Bar('err');
    var useLine = new Line();
    var errLine = new Line();
    var useCircle = new Circle();
    var errCircle = new Circle();

    var useFrequency = null;
    var errFrequency = null;
    var objectName = null;
    var objectNum = null;

    var activityTime = null;
    var activityName = null;

    var searchTime = null;
    var occur_time = null;

    var oneDay = 86400000; // onday = 86400000 msec
    var startDate;
    var endDate;
    var xAxisSize = 100;

    var app_name;
    var user_id;
    var intervalID;

    $('#storyboard').load("str");

    useGraph.setDataColor('#457D97');
    errGraph.setDataColor('#EA3556');
    useLineGraph.setDataColor('#02779E');
    errLineGraph.setDataColor('#EA3556');
    //    useCircleGraph.setDataColor('#02779E');


    $('.app_name').click(function () {
        app_name = $(this).text();
        user_id = $('#user_id').text();
        $('#current_app_name').text(app_name);
        $('#search-div').css('visibility', 'visible');

        getUserAppStoryboard();

        $.post("/get/object_info", {app_name: app_name, user_id: user_id}
                , function (data) {
//                    console.log('home - /get/object_info');
//                    console.log(data);
                    initDataToArray();
                    for (var i = 0; i < data.length; i++) {
                        setObjectData(i, data);
                    }
                    initSearchDate();
                    createUseTimeGraph();

                    createFrequencyGraphs();
                    /**
                     * 타이머
                     */
//                    clearInterval(intervalID);
//                    intervalID = setInterval(updateFrequencyGraph, 2000);

                    rectMouseOver();
                });
    });

    function getUserAppStoryboard() {
        var storyboard = new Storyboard();
        storyboard.targetDiv('#storyboard-svg');

        $.get("/storyboard/" + app_name, function (storyboardData) {
            storyboard.removeStoryboard();
            storyboard.addBackBoard();
            storyboard.storyboardData(storyboardData);

            storyboard.drawActivityObject();

            storyboard.initLine();
            storyboard.drawNextActivityLine();

            storyboard.removeActivityObject();
            storyboard.drawActivityObject();
        });
    }

    function initSearchDate() {
        document.getElementById("start-date").defaultValue = getToday();
        document.getElementById("end-date").defaultValue = getToday();
    }

    function getToday() {
        var today = new Date();
        var day = today.getDate();
        var month = today.getMonth() + 1;
        var year = today.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        today = year + "-" + month + "-" + day;

        return today;
    }

    function createUseTimeGraph() {
        $('#search-date').click(function () {
            setSearchTime();
            console.log("createUseTimeGraph");
            useLineGraph.location('#use-line-graph');
            useLineGraph.graphData(searchTime);
            useLineGraph.createGraph();
            useLineGraph.setGraphType(useLine).create();
            console.log("createUseTimeGraph - userLineGraph");
            errLineGraph.location('#err-line-graph')
                    .graphData(searchTime)
                    .createGraph()
                    .setGraphType(errLine).create();
        });
    }

    function setSearchTime() {
        startDate = (new Date(document.getElementById("start-date").value).getTime()) / oneDay - 1;
        endDate = (new Date(document.getElementById("end-date").value).getTime()) / oneDay;

//        console.log('start date : ' + startDate);
//        console.log('end date : ' + endDate);
//        console.log('- : ' + (endDate - startDate));
        searchTime = new Array(xAxisSize);//.fill(0);
    }

    function initDataToArray() {
        useFrequency = new Array().fill(0);
        errFrequency = new Array().fill(0);
        objectName = new Array().fill(0);
        objectNum = new Array().fill(0);

        activityName = new Array().fill(0);
        activityTime = new Array().fill(0);
    }

    function setObjectData(i, data) {
        useFrequency[i] = data[i].object_frequency;
        errFrequency[i] = data[i].error_frequency;
        objectName[i] = data[i].object_name;
        objectNum[i] = data[i].object_num;

        activityName[i] = data[i].activity_name;
        activityTime[i] = data[i].total_time;
    }

    function createFrequencyGraphs() {
        useGraph.location('#use-graph')
                .graphData(useFrequency)
                .graphDataName(objectName)
                .graphDataNum(objectNum)
                .graphActivityName(activityName)
                .graphActivityTime(activityTime)
                .createGraph()
                .setGraphType(useBar).create();

        errGraph.location('#err-graph')
                .graphData(errFrequency)
                .graphDataName(objectName)
                .graphDataNum(objectNum)
                .graphActivityName(activityName)
                .graphActivityTime(activityTime)
                .createGraph()
                .setGraphType(errBar).create();
    }

    function updateFrequencyGraph() {
        $.post("/get/object_info", {app_name: app_name, user_id: user_id}
                , function (data) {
                    for (var i = 0; i < data.length; i++) {
                        useFrequency[i] = data[i].object_frequency;
                        errFrequency[i] = data[i].error_frequency;
                    }
                    useGraph.graphData(useFrequency).update();
                    errGraph.graphData(errFrequency).update();
                });
    }

    function rectMouseOver() {
        $('.light').children('svg').children().mouseover(function () {
                    var className = '.' + $(this).attr("class");
                    var objectNum = $(this).attr("object-num");
                    var objectName = $(this).attr("object-name");

                    highlightByClassName(objectName, className);
                    popObjectInfoByClassName.call(this, className);

                    if (isDefined(searchTime)) {
                        getObjectInfo(objectNum, function (err) {
                            useLineGraph.graphData(searchTime).setEase("circle-out").update();
                        });

                        getErrorInfo(objectNum, function (err) {
                            errLineGraph.graphData(searchTime).setEase("circle-out").update();
                        });
                    }
                }
        ).mouseout(function () {
        });
    }

    function highlightByClassName(objectName, className) {



        $('.graph rect').css("fill", "");
        $('.graph circle').css("fill", "");
        $('.storyboard rect').css("stroke", "");
        $('.storyboard circle').css("stroke", "");
//        d3.selectAll('.storyboard rect').transition().duration(300).attr('stroke', '');
//        d3.selectAll('.storyboard circle').transition().duration(300).attr('stroke', '');


//        $('.graph circle' + className + '#' + objectName).css("fill", "gold");
        $('.storyboard rect' + className + '#' + objectName).css("stroke", "gold");
        $('.storyboard circle' + className + '#' + objectName).css("stroke", "gold");

        $('.graph rect' + className + '#' + objectName).css("fill", "gold");
        $('.graph circle' + className + '#' + objectName).css("fill", "gold");
//        d3.select('.storyboard rect' + className + '#' + objectName).transition().duration(300).attr('stroke', 'gold');
//        d3.select('.storyboard circle' + className + '#' + objectName).transition().duration(300).attr('stroke', 'gold');
    }

    function popObjectInfoByClassName(className) {
        var useFrequency = $('#use-graph ' + className).attr("use-data");
        var errFrequency = $('#err-graph ' + className).attr("err-data")

        var rectInfo = $('.rect-info').children('div');
        var objectName = $(this).attr("object-name");
        var activityName = $(this).attr("activity-name");
        var activityTime = $(this).attr("activity-time");

        $('.rect-info').css("visibility", "visible");
        rectInfo.children('#rect-object-name').text(objectName);
        rectInfo.children('#rect-use-frequency').text(useFrequency);
        rectInfo.children('#rect-err-frequency').text(errFrequency);
        rectInfo.children('#rect-activity-name').text(activityName);
        rectInfo.children('#rect-activity-time').text(activityTime);
    }

    function getObjectInfo(objectNum, callback) {
        $.post("/get/object_use_info", {object_num: objectNum}
                , function (data) {
                    searchTime = new Array();
                    getTimeData(data);
                    callback(null);
                });
    }

    function getErrorInfo(objectNum, callback) {
        $.post("/get/error_use_info", {object_num: objectNum}
                , function (data) {
                    searchTime = new Array();
                    getTimeData(data);
                    callback(null);
                });
    }

    function getTimeData(data) {
        occur_time = new Array().fill(0);
        for (var i = 0; i < xAxisSize; i++)
            searchTime[i] = 0;
        var temp;
        for (var i = 0; i < data.length; i++) {
            temp = (new Date(data[i].occur_time).getTime()) / oneDay;
//            console.log(temp);
            if (temp > startDate && temp < endDate)
                occur_time[i] = parseInt((temp - startDate) * (xAxisSize / (endDate - startDate)));
        }

        occur_time.sort(function (left, right) {
            return left - right;
        });


        for (var i = 0; i < occur_time.length; i++)
            searchTime[occur_time[i]]++;
    }

</script>
</body>
</html>