<!DOCTYPE html>
<html>
<head>
    <title>Android Storyboard</title>
</head>
<body>
    <header>

    </header>

    <b>user_id : <%= user_id %></b>
    <form name="logout" method="get" action="/logout">
        <button type="submit" >Logout</button>
    </form>

    <form name="profile" method="get" action="/profile">
        <button type="submit" >Profile</button>
    </form>


    <footer>
        <!---->
    </footer>
</body>
</html>