<html>
<head>
    <title>Android Storyboard</title>
</head>
<body>

<form name="logout" method="get" action="/logout">
    <button type="submit" >Logout</button>
</form>

<form name="profile" method="get" action="/profile">
    <button type="submit" >Profile</button>
</form>

user_id : <%= user_id %>

</body>
</html>