<html>
<head>
    <title>Android Storyboard</title>
</head>
<body>

<form name="signout" method="get" action="/sign/out">
    <button type="submit" >Signout</button>
</form>

user_id : <%= user_id %>

</body>
</html>