<html>
<head>
    <title>Login</title>
</head>

<body>

<div>
    <form name="login" method="post" action="/login">
        <b>Login</b>
        <br>
        <input type="text" name="user_id" placeholder="id"/>
        <br>
        <input type="password" name="password" placeholder="password"/>
        <br>
        <button type="submit" >Submit</button>
    </form>
    <%= login_result%>
</div>

</body>
</html>