<!DOCTYPE html>
<html>
<head>
    <title>Android Storyboard</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css">
    <style>

    </style>
    <script>
        $(document).ready(function () {
            $(".btn").click(function () {
                $(".alert").css("visibility", "hidden");
            });
        });
    </script>
</head>

<body>
<div class="navigation">
    <div class="container-fluid">
        <div class="left" id="menu-button" style="display: inline-block; width:20%;"><i style="visibility: hidden">여백</i></div>
        <div style="display: inline-block;">
            <a href="/" class="main-logo">AndroidStoryBoard</a>
        </div>
        <div class="right" style="display: inline-block;">
            <a class="btn btn-info" href="/join">Join</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-center">
        <h1>Login</h1>
        <div class="center-block" id="login">
            <form method="post" action="/login">
                <input type="text" class="form-control" name="user_id" placeholder="id"/>
                <input type="password" class="form-control" name="password" placeholder="password"/>
                <button type="submit" class="btn btn-info">Login</button>
            </form>
        </div>
        <div class="warring-message">
            <%= login_result %>
        </div>
    </div>
</div>
<footer>
    <!---->
</footer>
</body>
</html>