<!DOCTYPE html>
<html>
<head>
    <title>Android Storyboard</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css">
</head>

<body>
<div class="navigation">
    <div class="container">
        <div class="left">
            <a href="/" class="main-logo">AndroidStoryBoard</a>
        </div>
        <div class="right">
            <a class="btn btn-info" href="/">Home</a>
            <a class="btn btn-info" href="/logout">Logout</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-center">
        <h1>Profile Update</h1>
        <div class="center-block" id="profile">
            <form name="profile" method="post" action="/profile">
                <p class="form-control-static"><%= user_id %></p>
                <input class="form-control" type="text" name="name" placeholder="name"/>
                <input class="form-control" type="password" name="password" placeholder="password"/>
                <input class="form-control" type="password" name="confirm_password" placeholder="confirm password"/>
                <input class="form-control" type="text" name="email" placeholder="email"/>
                <button class="btn btn-info" type="submit">Update</button>
            </form>
        </div>
        <div class="warring-message">
            <%= update_result %>
        </div>
    </div>
</div>


<footer>
    <!---->
</footer>
</body>
</html>