<html>
<head>
    <title>Signin</title>
</head>
<body>
<form name="signin" method="post" action="/sign/in">
    <b>Login</b><p>
        id <input type="text" name="user_id"/>
        <br>
        password <input type="password" name="password"/>
        <br>
        <button type="submit" >Submit</button>
</form>

<form name="signup" method="get" action="/sign/up">
    <button type="submit" >Signup</button>
</form>

<form name="signout" method="get" action="/sign/out">
    <button type="submit" >Signout</button>
</form>

</body>
</html>