<html>
<head>
    <title>Sign</title>
</head>

<body>
<div>
    <form name="signup" method="post" action="/sign/up">
        <b>Sign Up</b>
        <br>
        <input type="text" name="user_id" placeholder="id"/>
        <br>
        <input type="text" name="name" placeholder="name"/>
        <br>
        <input type="password" name="password" placeholder="password"/>
        <br>
        <input type="password" name="confirm_password" placeholder="confirm password"/>
        <br>
        <input type="text" name="email" placeholder="email"/>
        <br>
        <button type="submit" >Submit</button>
    </form>
    <%= signup_result%>
</div>


</body>
</html>