html, body {
    height: 100%;
}

.container{
    width: 100%;
}
.container-center {
    text-align: center;
}

.center-block {
    width: 300px;
    border: darkgray solid 1px;
    padding: 10px;
}

.center-block button, .center-block input, .center-block a {
    width: 96%;
    margin: 2%;
}

.warring-message {
    color: indianred;
    height: 50px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center{

}

.main-logo {
    font-family: 'Candal', sans-serif;
    font-size: 25px;
}

.fa-bars{
    font-size: 30px;
}

.sidebar{
    left : -300px;
    position: fixed;
    width: 300px;
}

.test{
    left : 0px;
    position: fixed;
}