html, body {
    height: 100%;
    overflow: hidden;
}

.content, .sidebar, .content-body, .main-body {
    height: 90%;
}

.container-center {
    text-align: center;
}

.center-block {
    width: 300px;
    border: darkgray solid 1px;
    padding: 10px;
}

.center-block button, .center-block input, .center-block a {
    width: 96%;
    margin: 2%;
}

.warring-message {
    color: indianred;
    height: 50px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.main-logo {
    font-family: 'Candal', sans-serif;
    font-size: 20px;
    color: black;
}

a:hover {
    text-decoration: none;
}

.fa {
    font-size: 30px;
}

.sidebar {
    left: -300px;
    position: fixed;
    width: 300px;
    overflow: auto;
    background: #dcdcdc;
    height: 80%;
}

.menu {
    /*height:80%;*/
}

.menu b {
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu ul {
    border-top: 1px solid #b4b4b4;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #b4b4b4;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu div {
    color: #67A6A6;
    font-size: 20px;
    /*text-decoration: none;*/
    /*text-transform: uppercase;*/
    font-weight: bold;
    /*width: 250px;*/
    /*text-align: left;*/
}

.content-body {
    left: 0px;
    position: fixed;
    width: 100%;
    overflow: auto;
}

.graph {
    /*width: 60%;*/
    /*height: 50%;*/

    /*background: #8FBC8F;*/
    /*margin-left: 20%;*/
    margin-top: 10px;
    margin-bottom: 10px;

    /*overflow: auto;*/
}

.navigation {
    height: auto;
    background: #DCE0E6;
    /*min-height: 70px;*/
    /*position: fixed;*/
}

svg {
    background: #CCD4BD;
}

.rect-value {
    color: #F2D44E;
}

.magin0 {
    margin: 0px;
}

#rect-use-frequency {
    color: #6ADBD8;
}

#rect-err-frequency {
    color: #E880A2;
}

.axis path,
.axis line{
    fill:#938172;
    storke:black;
    shape-rendering : crispEdges;
}
g > text{
    fill:#938172;
}